{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
    <script src="{% static 'detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %} {{ obj.title }}{% endblock title %}
{% block content %}

        <!--Update Modal -->
    <div class="modal fade" id="updatePost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="alert-box"></div>
                    <form id="update-form" >
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger add-modal-close" data-bs-dismiss="modal">close</button>
                            <button type="submit" id="add-btn" class="btn btn-success"> update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


            <!-- Delete Modal -->
    <div class="modal fade" id="deletePost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="alert-box"></div>
                    <form id="delete-form" >
                        <p>Are you want to delete <b>"{{ obj.title }}"?</b></p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger add-modal-close" data-bs-dismiss="modal">close</button>
                            <button type="submit" id="add-btn" class="btn btn-success"> delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="mt-1" id="post-box"></div>
    <button id="back-btn" class="btn btn-info">Back</button>
    <button id="update-btn" class="btn btn-primary not-visible"data-bs-toggle="modal" data-bs-target="#updatePost">Update</button>
    <button id="delete-btn" class="btn btn-danger not-visible"data-bs-toggle="modal" data-bs-target="#deletePost">Delete</button>
    <div id="spinner-box" class="text-center">
        <div class="spinner-border text-success" role="status">
        </div>
    </div>

{% endblock content %}