{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script src="{% static 'main.js' %}" defer></script>
{% endblock scripts %}
{% block title %}
    All Post
{% endblock title %}

{% block content %}
    <!-- Modal -->
    <div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="post-form" >
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger add-modal-close" data-bs-dismiss="modal">close</button>
                            <button type="submit" id="add-btn" class="btn btn-success">+ add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-box"></div>
    <button type="button" class="btn btn-info mb-2" data-bs-toggle="modal" data-bs-target="#addPostModal">
            Create Post
    </button>
    <div id="post-box"></div>
    <div id="spinner-box" class="text-center">
        <div class="spinner-border text-success" role="status">
        </div>
    </div>
    <div class="text-center mb-3" id="end-box">
        <button class="btn btn-primary" id="load-btn">Load More</button>
    </div>
{% endblock content %}